<div class="banner">
	<%= image_tag 'accueil.jpg' %>
</div>

<div class="title">
	<h1>On se connait?</h1>
</div>

<div class="question">
	Qu'est-ce que tu fais ici alors?
</div>

<div class="connaissance">
	Tu veux faire connaissance, c'est ça?
</div>

<div  class="link">
	<%= link_to "Dans ce cas, viens par ici!", home_path%>
</div>