.container{
	margin: 0 auto;
	width: 90%;
}

.container h2{
	text-align: center;
	background: -webkit-linear-gradient(#fff, #EA2E39);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 2rem;
}