.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f7f7f7;
  min-width: 6%;
  box-shadow: 0px 8px 16px 0px #555;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
  clear: both;
  white-space: wrap;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}