// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner img{
	background-image: linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0), 50%);
	background-size: cover;
	width: 100%;
	position: relative;

}

.title, .link, .question, .connaissance{
	position: absolute;
	color: white;
	font-weight: 700;
}

.title{
	top: 10%;
	left: 42%;
}

.link{
	bottom: -50%;
	left: 30%;
}

.link a{
	color: white;
	font-size: 1.5rem;
	font-weight: 700;
}

.link a:hover{
	font-size: 2.5rem;
}

.question{
	top: 70%;
	left: 6%;
}

.connaissance{
	bottom: 0;
	right: 10%;


}